/* CABECALHO DO BODY */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

main {
    height: 100%;
    width: 100%;
    font-family: 'Roboto Condensed', sans-serif;
}

.topo {
    padding-top: 10px;
    background-color: #E2EFF7 !important;
    color: #1B6B9A;
    height: 100px;
}

.subtitleTop {
    margin: 0 !important;
}

.topo h1 {
    margin-bottom: 2.5px !important;
}

#select1 {
    margin-right: 10px;
}

select:invalid {
    color: #9BB4C3;
}


/* PARTE 1 DO BODY */

.b2 {
    padding: 20px;
    width: 100vw;
    display: grid;
    grid-template-columns: 310px 310px 310px 310px;
    grid-template-rows: 90px;
    grid-column-gap: 25px;
    justify-content: center;
    align-content: center;
}

.b2>div {
    background-color: #E2EFF7;
}

.b2-1>h1 {
    display: grid;
    justify-content: center;
    padding-top: 10px;
    font-size: 15pt;
    font-weight: 500;
    color: #162E3C;
}

.b2-1 h2 {
    display: grid;
    justify-content: center;
    font-size: 25pt;
    font-weight: 600;
    color: #162E3C;
}

.b2-2>h1 {
    display: grid;
    justify-content: center;
    padding-top: 10px;
    font-size: 15pt;
    font-weight: 500;
    color: #162E3C;
}

.b2-2 h2 {
    display: grid;
    justify-content: center;
    font-size: 25pt;
    font-weight: 600;
    color: #162E3C;
}

.b2-3>h1 {
    display: grid;
    justify-content: center;
    padding-top: 10px;
    font-size: 15pt;
    font-weight: 500;
    color: #162E3C;
}

.b2-3 h2 {
    display: grid;
    justify-content: center;
    font-size: 25pt;
    font-weight: 600;
    color: #162E3C;
}

.b2-4>h1 {
    display: grid;
    justify-content: center;
    padding-top: 10px;
    font-size: 15pt;
    font-weight: 500;
    color: #162E3C;
}

.b2-4 h2 {
    display: grid;
    justify-content: center;
    font-size: 25pt;
    font-weight: 600;
    color: #162E3C;
}


/* PARTE 2 DO BODY */

.b3 {
    padding: 20px;
    width: 100vw;
    display: grid;
    grid-template-columns: 645px 645px;
    grid-template-rows: 300px;
    grid-gap: 25px;
    justify-content: center;
    align-content: center;
}

.b3>div {
    display: grid;
    background-color: #E2EFF7;
    justify-content: center;
}

.b3-1 {
    display: block;
    background-color: #E2EFF7;
}

.b3-1>div {
    height: 150px;
    margin-top: -80px;
}

.b31 {
    display: grid;
    grid-template-columns: 645px;
    grid-template-rows: 300px;
    grid-gap: 25px;
    justify-content: center;
    align-content: center;
}

.b31>div {
    display: grid;
    background-color: #E2EFF7;
    justify-content: center;
}

.b3-1 {
    display: block;
    background-color: #E2EFF7;
}

.b3-1>div {
    height: 150px;
    margin-top: -80px;
}


/* TEXTOS DA PRIMEIRA E SEGUNDA DIV */

.b3-21 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 650px;
    text-align: center;
    padding-top: 100px;
}

.b3-21 h1 {
    font-size: 22pt;
    font-weight: 600;
}

.b3-21 h2 {
    font-size: 22pt;
    font-weight: 600;
}

.b3-21 h3 {
    font-size: 18pt;
    font-weight: 500;
}

.b3-21>.p1,
.p3 {
    margin-top: 40px;
}


/* TEXTOS DA TERCEIRA DIV */

.b3-23 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 650px;
    text-align: center;
    padding-top: 110px;
}

.b3-23 h1 {
    font-size: 22pt;
    font-weight: 600;
}

.b3-23 h2 {
    font-size: 22pt;
    font-weight: 600;
}

.b3-23 h3 {
    font-size: 18pt;
    font-weight: 500;
}

.b3-23>.p1,
.p3 {
    margin-top: 40px;
}

.p4 h3 {
    display: block;
    width: 150px;
    padding-left: 280px;
    font-size: 18pt;
    font-weight: 500;
}

.p4 h2 {
    display: block;
    width: 150px;
    padding-left: 320px;
    font-size: 22pt;
    font-weight: 600;
}

.p5 {
    display: block;
    padding-left: 520px;
    font-size: 13pt;
}

.p6 {
    float: right;
    padding-left: 140px;
    margin-top: -30px;
    font-size: 13pt;
}


/* CADASTRO E EDITAR CENTRO DE CUSTO */

.position {
    position: static !important;
}

.nav-tabs {
    margin-top: -124px;
    margin-left: 20px;
    font-size: 1.1em;
}

.nav-tabs a {
    color: #1B6B9A !important;
    font-size: 20px;
}

.nav-item {
    text-align: center;
}

.botoes button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #E2EFF7 !important;
    color: #3c8dbc;
}

.botaosalvar5 {
    cursor: pointer;
}

thead>tr>th:last-child(2) {
    width: 150px;
}

.menubotoes {
    margin-top: -57px;
}

.content-alert {
    padding: 10px;
    width: 100vw;
    display: inline-block;
    justify-content: center;
    align-content: center;
    height: 80px;
    padding-top: 5px;
}

/* LAYOUTS DE INPUTS PARA CADASTROS E EDIÇÕES DE TELAS */

.telo5ce label {
    font-family: 'Roboto', sans-serif;
    color: #162E3C !important;
    font-size: 14px;
}

.telo5ce input {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    background-color: #e2eff773 !important;
    border: none;
    border-radius: 0px;
    color: #162E3C;
    font-size: 14px;
}

.telo5ce select {
    border: none;
    font-family: 'Roboto', sans-serif;
    outline: 0px !important;
    box-shadow: none !important;
    background-color: #e2eff773 !important;
    color: #162E3C;
    font-size: 14px;
}

/* INPUT DE FILTRO DE BUSCA TOPO DETALHE */

.telo5inputfiltro input {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
    border: none;
    border-radius: 0px;
}

.telo5inputfiltro .search {
    position: relative;
    padding-right: 15px;
    margin-top: -20px;
    float: right;
}

/* STATUS DA AFERIÇÃO */

.hoverstatusafericao a:hover{
    color: #fff;
}

.subnavbar label a:hover {
    color: rgba(255, 255, 255, 0.7) !important;
}
