@media print {
    @page {
        size: landscape;
    }

    .col-md-2 {
        max-width: 27.66%;
    }

    .colunas {
        font-size: 12px;
    }

    .impressaoTitulo {
        font-size: 22px;
    }
    .impressaoTitulo2 {
        font-size: 18px;
    }
}